{% include "base.html" %}

{% load staticfiles %}
<link href="{% static "stylesheets/home.css" %}" rel="stylesheet" type="text/css">

<title>Payper.io</title>

<div class="maxwidth container">
   <div class="jumbotron maxwidth">
      <div class="appname">Payper</div>
      <div class="catchphrase lead">Financial tracking for groups of individuals</div>
      <div class="actions">
         <button class="btn btn-large btn-info" type="button">Register</button>
         <a class="signin" href="">Sign In</a>
      </div>
   </div>

   <div class="container">
      <div class="row info">
         <div class="span4">
            <p class="lead title">Lorem ipsum</p>
               <p class="description lead">Duis eu porttitor elit, ut facilisis risus. Suspendisse placerat leo erat, eu dapibus felis ornare sit amet.</p>
         </div>
         <div class="span4">
            <p class="lead title">Fusce id</p>
            <p class="description lead">Vivamus est mi, mattis eget lectus nec, consectetur consectetur lorem. Donec ac sagittis dolor. Nulla ac fermentum magna. </p>
         </div>
         <div class="span4">
            <p class="lead title">Proin elite</p>
            <p class="description lead">Ut ut velit urna. Donec accumsan facilisis augue, in porta ligula ultricies quis. Duis eu porttitor elit, ut facilisis risus.</p>
         </div>
      </div>
   </div>

   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="offset2 span4">
               <p class="name lead">Alan Ni</p>
               <div class="icons">
                  <img class="icon" src="{% static "images/icons/glyphicons_411_twitter.png" %}">
                  <img class="icon" src="{% static "images/icons/glyphicons_401_github.png" %}">
                  <img class="icon" src="{% static "images/icons/glyphicons_419_e-mail.png" %}">
                  <img class="icon" src="{% static "images/icons/glyphicons_397_linked_in.png" %}">
               </div>
            </div>
            <div class="span4">
               <p class="name lead">Matthew Ebeweber</p>
               <div class="icons">
                  <img class="icon" src="{% static "images/icons/glyphicons_411_twitter.png" %}">
                  <img class="icon" src="{% static "images/icons/glyphicons_401_github.png" %}">
                  <img class="icon" src="{% static "images/icons/glyphicons_419_e-mail.png" %}">
                  <img class="icon" src="{% static "images/icons/glyphicons_397_linked_in.png" %}">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


