.maxwidth {
   width: 100%;
}

.jumbotron {
   background: #445859;
   height: 465px;
   width: 100%;
}

.appname {
   font-size: 200px;
   text-align: center;
   padding-top: 150px;
   color: #F1F2E4;
}

.catchphrase {
   padding-top: 125px;
   font-size: 30px;
   color: #F1F2E4;
   text-align: center;
}

.actions {
   margin: 0 auto;
   width: 210px;
}

.actions .btn {
   width: 130px;
   height: 50px;
}

.signin {
   font-size: 20;
   color: #F1F2E4;
   padding-left: 10px;
   vertical-align: middle;
}

/* Fill this in because mouse over is ugly */
.signin:hover {

}

.info {
   text-align: center;
   padding-top: 50px;
   color: #445859;
}

.info p {
   padding-left: 20px;
   padding-right: 20px;
}

.title {
   font-size: 45px;
}

.footer {
   background-color: #FEFFF0;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 75px;
   text-align: center;
}

.name {
   margin-bottom: 0px;
   margin-top: 10px;
   color: #445859;
}

