{% include "base.html" %}

{% load staticfiles %}
<link href="{% static "stylesheets/registration.css" %}" rel="stylesheet" type="text/css">

<title>Register | Payper.io</title>

<div class="container registration">

  <h1 class="banner">Register for Payper</h1>

  {% if form.errors %}
    <div class="big-alert alert alert-error">
      <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    </div>
  {% endif %}


  <form method="post" action="" class="wide">
	{% csrf_token %}
    <table class="reg-table">

      <tr>
        <td></td>
        <td>
          {% if form.username.errors %}
          <div class="little-warn alert alert-error">
            <p class="errors">{{ form.username.errors.as_text }}</p>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_username">Username:</label>
        </td>
        <td>
          {{ form.username }}
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          {% if form.email.errors %}
          <div class="little-warn alert alert-error">
            <p class="errors">{{ form.email.errors.as_text }}</p>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_email">Email address:</label>
        </td>
        <td>
          {{ form.email }}
        </td>
      </tr>

      <tr>
        <td></td>
          <td>
          {% if form.password1.errors %}
          <div class="little-warn alert alert-error">
            <p class="errors">{{ form.password1.errors.as_text }}</p>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_password1">Password:</label>
        </td>
        <td>
          {{ form.password1 }}
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          {% if form.password2.errors %}
          <div class="little-warn alert alert-error">
            <p class="errors">{{ form.password2.errors.as_text }}</p>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_password2">Confirm Password:</label>
        </td>
        <td>
          {{ form.password2 }}
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <p class="submit"><input class="lead btn btn-info" type="submit" value="Register"></p>
        </td>
      </tr>
  </table>
  </form>
</div>
  {% include "footer.html" %}
