{% load staticfiles %}
<link href="{% static "stylesheets/footer.css" %}" rel="stylesheet" type="text/css">

<div class="footer">
   <div class="container">
      <div class="row">
         <div class="offset2 span4">
            <p class="name lead">Alan Ni</p>
            <div class="icons">
               <img class="icon" src="{% static "images/icons/glyphicons_411_twitter.png" %}">
               <img class="icon" src="{% static "images/icons/glyphicons_401_github.png" %}">
               <img class="icon" src="{% static "images/icons/glyphicons_419_e-mail.png" %}">
               <img class="icon" src="{% static "images/icons/glyphicons_397_linked_in.png" %}">
            </div>
         </div>
         <div class="span4">
            <p class="name lead">Matthew Ebeweber</p>
            <div class="icons">
               <img class="icon" src="{% static "images/icons/glyphicons_411_twitter.png" %}">
               <img class="icon" src="{% static "images/icons/glyphicons_401_github.png" %}">
               <img class="icon" src="{% static "images/icons/glyphicons_419_e-mail.png" %}">
               <img class="icon" src="{% static "images/icons/glyphicons_397_linked_in.png" %}">
            </div>
         </div>
      </div>
   </div>
</div>