{% load staticfiles %}
<link href="{% static "stylesheets/bootstrap.css" %}" rel="stylesheet" type="text/css">

<p>Logged In As: {{ member.user.username }}</p>

<p>Looking at the Group Page for: {{ group.name }}</p>

<div> Group Members </div>
{% for member, balance in member_balances.items %}
	<div> {{ member.user.username }}'s balance: ${{balance}} </div>
{% endfor %}
</div>

<!-- FORM TO ADD A GROUP MEMBER TO THE GROUP -->
<form action="/groups/{{ group.id }}/addmember/email/" method="post">
  {% csrf_token %}
  <p>Email: <input type="text" name="email"/></p>
  <p><input type="submit" value="Add Member by Email"/></p>
</form>

<form action="/groups/{{ group.id }}/addmember/username/" method="post">
  {% csrf_token %}
  <p>Username: <input type="text" name="username"/></p>
  <p><input type="submit" value="Add Member by Username"/></p>
</form>

<!-- TODO: FIX THIS SO TOTAL NUMBER ACTUALLY SHOWS -->
<div> Total Transactions: {{ transactions_count }}</div>

<div> List of the Transactions: </div>
{% for transaction in transactions %}
   <p><div>Name: {{ transaction.name }}</div>
   <div>Description: {{ transaction.description }}</div>
   <div>Amount Paid: {{ transaction.amount }}</div>
   <div>Paid By: {{ transaction.payer.user.username }}</div></p>
{% endfor %}


<!-- FORM TO ADD A TRANSACTION - ASSUMES YOU ARE PAYER -->
  <form action="/groups/{{ group.id }}/addtransaction/" method="post">
         {% csrf_token %}
         <p>Name: <input type="text" name="name"/></p>
         <p>Description: <input type="text" name="description"/></p>
         <p>Amount: <input type="text" name="amount" pattern="^((\d+)|(\d{1,3})(\,\d{3}|)*)(\.\d{2}|)$"/></p>
         <p><input type="submit" value="Add Transaction"/></p>
    </form>