{% include "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style>
      input.required, error {
        border: 2px solid red;
      }
    </style>
</head>
{% load staticfiles %}
<link href="{% static "stylesheets/registration.css" %}" rel="stylesheet" type="text/css">

<title>{% block title %}{% endblock %} | Paper.io</title>

<div class="container registration">
  <h1 class="banner">{% block content_title %} {% endblock %} </h1>

  {% if form.errors %}
    <div class="big-alert alert alert-error">
      <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    </div>
  {% endif %}



    {% block content %} {% endblock %}
          
</div>
  {% include "footer.html" %}

</html>

